language: csharp
solution: ./AuthorWidget/AuthorWidget.sln

before_install:
  - nuget sources Add -Name "MyCustomSource" -source https://yournnugetserver.com/api/v3/
  - nuget sources Add -Name "MyCustomSource1" -source http://nuget.sitefinity.com/nuget/
  - sudo apt-get -qq update
  - nuget restore AuthorWidget/AuthorWidget.sln
  - xbuild /p:Configuration=Release AuthorWidget/AuthorWidget.sln

install:
  - nuget update AuthorWidget/AuthorWidget.sln