@model DevMagazine.Issues.Mvc.ViewModels.PagerViewModel

<div class="row">
    @foreach (var issue in @Model.Issues)
    {
        @Html.Partial("IssueElement", issue)
    }
</div>

@Html.Partial("EndlessPager", Model)
